.signup_button {
    background-color: #FD4D46;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    font-size: smaller;
}

.login_button {
    background-color: white;
    border-color: #E0E0E0;
    color: #FD4D46;
    font-weight: bold;
    border-radius: 25px;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    text-align: center;
    font-size: smaller;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
}

.signup_button, .signup_button:hover{
    text-decoration: none;
    color: white !important;
}

.logo_link, .logo_link:hover {
    text-decoration: none;
    color: black !important;
}

.login_button, .login_button:hover{
    text-decoration: none;
    color: #FD4D46 !important;
}

.signup_body{
    background-color: #F2F1EE;
    padding: 1%;
    margin-top: 60px;
}

.signup_form {
    width: 30%;
    margin: auto;
}

.centered_text {
    text-align: center;
}

.usersInputInfo {
    color: black;
    text-align: left;
}

.global_footer {
    padding: 2rem;
    background-color: #FD4D46;
    
    margin-top: 8px;
    display: flex;
    line-height: 20px;
}

.footer_container {
    margin-right: 15px;
    width: 50%;
}

.footer_title {
    padding: 6%;
    color: white;
    font-weight: bold;
    font-size: large;
}

.footer_list {
    text-decoration: none;
    color: white;
    padding: .15rem 0;
    margin: .25rem 0;
    font-size: medium;
}

p {
    color: white;
    font-size: large;  
}

ol, ul {
    list-style: none;
    padding-left: 0;
}

h4 {
    color: white;
    font-size: large;
}

footer a {
    display: flex;
    align-items: center;
}

.home_body {
    margin-top: 60px;
}

.banner_text {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner_header {
    display: inline;
    color: black;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 10px;
}

.check_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 25px;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container input:checked ~ .checkmark {
    background-color: #FD4D46;
  }

  .trial_header {
      font-size: 50px;
      color: black;
  }

  .trial_text {
    color: black;
    font-size: 25px;
    margin-bottom: 0;
}

  .banner_trial {
      text-align: center;
      padding: 5rem;
      background-color: #F2F1EE;
      width: 100%;
  }

  @media only screen and (max-width: 992px) {
    .toggle_hidden {
        display: none;
    }
  }

  .purchase_title {
      color: black;
      font-size: xx-large;
      text-align: center;
      font-weight: 2000;
  }

  .purchase_text {
      color: black;
      font-size: 25px;
      text-align: center;
  }

  .contacts_card {
      width: 60%;
      margin: 0 auto;
      border-color: black;
  }
 
  .external_website {
      color: #FD4D46;
      text-decoration: none;
  }

  .small_text {
      color: black;
      font-size: small;
      padding-top: 2rem;
  }
