<!-- Header -->
<div class="row">
<div class="toolbar" role="banner">
  <a class="logo_link" href=""><img width="40" src="../assets/logo.jpg"/>
  <span style="font-size: large;">conneqt</span></a>
    <div class="spacer"></div>
    <a class= "signup_button toggle_hidden" href="/signup" >Sign Up For a Free Trial</a>
    <a class="login_button toggle_hidden" target="_blank" rel="noopener" href="" >Log In</a>
</div>
</div>
<!--End of Header-->

<router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="global_footer">
    <div style="width: 100%;" class="row" style="text-align: center;">
      <div class="col-md-3 col-12">
        <div class="row">
          <div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <img src="../assets/logo_white.png" alt="">
            <span class="footer_title">conneqt</span>
          </div>
          <div style="padding-top: 1rem;" class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <p>
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
              feugiat nulla facilisis.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="row">
          <div class="col-md-12">
            <h4>Important Links</h4>
          </div>
          <div class="col-md-12">
            <ul style="display: inline-block">
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">About Us</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Support</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Contact Us</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Our Products</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Payment Methods</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="row">
          <div class="col-md-12">
            <h4>Useful Links</h4>
          </div>
          <div class="col-md-12">
            <ul style="display: inline-block">
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Cases</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">White Papers</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">FAQ</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Blog</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="row">
          <div class="col-md-12">
            <h4>Get In Touch</h4>
          </div>
          <div class="col-md-12">
            <ul style="display: inline-block">
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Email: contact@conneqt.com</span>
                </a>
              </li>
              <li class="toggle_resp_list">
                <a href="">
                  <span class="footer_list">Phone: 469-844-8261</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--End of Footer -->



