<div *ngIf="!show" class="signup_body">
    <h1 class="centered_text">Free-Trial Sign Up</h1>
    <h2 class="centered_text">Get started and experience conneqt today</h2>
<form action="" class="signup_form">
    <div class="form-group">
        <input type="text" class="form-control" id="companyInput" placeholder="Company Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="segmentInput" placeholder="Segment">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="usersInput" placeholder="Number of Users*">
        <small class="usersInputInfo">*How many devices would have Conneqt installed.</small>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="nameInput" placeholder="Full Name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="emailInput" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="tel" class="form-control" id="telInput" placeholder="Telephone">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="passwordInput" placeholder="Password">
    </div>
</form>
    <div class="centered_text">
        <a style="text-align: center;" class= "signup_button" onclick="return false" href="#" (click)="toggleShow()">Sign Up And Try For Free</a>
    </div>
</div>

<div *ngIf="show" class="signup_body">
    <div class="row">
        <div class="banner_trial">
            <p class="trial_header">Thank You For Signing Up!</p>
            <p class="trial_text">Get started and experience Conneqt today.</p>
            <p class="small_text">A confirmation email with your credentials was sent to your email address.</p>
            <div style="margin-top: 10px;">
                <a class= "signup_button" href="" >Get started with Conneqt</a>
            </div>
        </div>
    </div>
</div>